<!-- <p>pipes works!</p>
<h2>{{name|uppercase}}</h2>
<h2>{{name|titlecase}}</h2>
<h2>{{person|json}}</h2>
<h2>{{str|slice:3:15}}</h2>
<h2>{{arr|slice:3:8}}</h2>
<h2>{{mydate}}</h2>
<h2>{{mydate|date:"short"}}</h2>
<h2>{{mydate|date:"medium"}}</h2>
<h2>{{mydate|date:"long"}}</h2>
<h2>{{mydate|date:"full"}}</h2>
<h2>{{mydate|date:"shortdate"}}</h2>
<h2>{{mydate|date:"longdate"}}</h2>
<h2>{{mydate|date:"longtime"}}</h2>
<h2>{{mydate|date:"shorttime"}}</h2>
<h2>{{mydate|date:"h"}}</h2>
<h2>{{mydate|date:"M"}}</h2>
<h2>{{mydate|date:"m"}}</h2>
<h2>{{mydate|date:"y-M-d"}}</h2>
<h2>{{mydate|date:"h-m-s"}}</h2>
<h2>{{0.5|percent}}</h2>
<h2>{{0.5|percent}}</h2>
<h2>{{3.89|number:"2:1-3"}}</h2>
<h2>{{456|currency}}</h2>
<h2>{{535|currency:"EUR"}}</h2> -->
<h2>{{535|currency:"GBP"}}</h2>




